{% extends 'base.html.twig' %}

{% block body %}
    <div class="top">
    <div class="body-top"></div>
    </div>

    <div class="bottom">
    <div class="body-bottom"></div>
    </div>
{% endblock %}