.navbar-inverse {
    width:              100%;
    padding:            10px 0;
    background:         #f28384;
    color:              white;
    border:             none;
    font-size:          18px;
}

.navbar-inverse .navbar-nav > li > a {
    color:              white;
}

.navbar-toggle {
    border: none;
    border-radius: 0;
    font-size: 18px;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: #24a1a3;
}

label {
    color: darkgrey;
}

.weather-text {
    display: inline-block;
}

.align-left {
    text-align: left;
    float: left;
}

.align-right {
    text-align:  right;
    float: right;
}

.align-center {
    text-align: center;
    margin: 0 auto;
}

.half {
    width: 45%;
    display: inline-block;
}

.onethird {
    width: 33.33%;
    display: inline-block;
}

.content {
    margin-top: 70px;
}

.weather-text-container {
    padding: 50px 10px;
}

.weather-icon-container {
    text-align: center;
    margin: 0 auto;
}

.weather-icon {
    width: 125px;
    height: 125px;
}

.btn-primary {
    border: none;
    background: #24a1a3;
    border-radius: 0;
}

.btn-primary:hover {
    background: #f28384;
}

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    color: white;
}

.top {
    width: 100%;
    height: 425px;
    display: flex;
    flex-flow: column;

}

.form-control {
    margin: 5px 0;
    border-radius: 0;
}

.body-top {
    width: 100%;
    height: 100%;
    background:         #24a1a3 ;
}

.bottom {
    width: 100%;
    height: 45%;
    display: flex;
    flex-flow: column;

}

.form-middle {
    margin-top: 400px;
}

.login--submit {
    margin-top: 20px;
    width: 20%;
}

.button--register {
    width: 150px;
    border: none;
    border-radius: 0;
}

.button-container--center {
    text-align: center;
}

.body-bottom {
    width: 100%;
    height: 100%;
    background:         #444e57;
}

.message-container {
    text-align: center;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 15px 0;
}

.message-button-container {
    text-align: center;
    margin: 10px 0;
}

.accept {
    display: inline-block;
    margin: 0 20px;
}


.decline {
    display: inline-block;
    margin: 0 20px;
}