
{% extends "@FOSUser/layout.html.twig" %}

{% block body %}{% endblock %}

{% block fos_user_content %}
    <div class="col-sm-12 container-fluid">

        <div class="container">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <form class="form-middle" action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
                <label for="username">Gebruikersnaam</label>
                <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" />

                <label for="password">Wachtwoord</label>
                <input class="form-control" type="password" id="password" name="_password" required="required" />

                <div class="checkbox">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on" />
                    <label for="remember_me">Onthoud mij</label>
                </div>

                <input class="login--submit btn btn-lg btn-primary btn-block" type="submit" id="_submit" name="_submit" value="Inloggen" />
            </form>
        </div>
    </div>

{% endblock fos_user_content %}

